<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Lista de Productos</title>
    <link rel="stylesheet" href="/css/productos.css"> <!-- Enlace al CSS -->
</head>
<body>
    <h1 th:text="${titulo}">Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cantidad en Stock</th>
                <th>Precio de Venta</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto: ${productos}">	
                <td th:text="${producto.Id}"></td>
                <td th:text="${producto.Nombre}"></td>
                <td th:text="${producto.Cantidad}"></td>
                <td th:text="${producto.Precio_venta}"></td>
                <td th:text="${producto.Fecha}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>